.connect-button {
  margin-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 15px;
  color: #ffffff; /* Text color remains visible */
  background: #808080; /* Gray background */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.5s ease;
  z-index: 1; /* Ensure the button content is above the hover effect */
}

.connect-button .online-dot {
  width: 15px;
  height: 15px;
  background-color: #00ff00; /* Green dot */
  border-radius: 50%;
  margin-right: 10px;
  z-index: 2; /* Dot is above the hover effect */
  transition: background-color 1s ease;
}
.connect-button:hover .online-dot {
  background-color: #808080;
}

.connect-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #7bff00; /* Hover green */
  transition: left 1.3s ease;
  z-index: 0; /* Keep this below text and dot */
}

.connect-button:hover::before {
  left: 0;
}

.connect-button:hover {
  color: #ffffff; /* Keep text color visible on hover */
}

.connect-button span {
  z-index: 2; /* Ensure text is above hover effect */
}
