.header1 {
  display: flex;
  justify-content: space-between; /* Distribute space between items */
  /* align-items: center; Align items vertically in the center */
  height: 15px;
}

.icon {
  padding: 0 5px;
  width: 10px; /* Adjust the size of the SVG */
  height: 10px;
}
.place {
  font-size: 10px;
  color: white;
}
